target/
node_modules/
dist/

# napi build output
*.node
packages/*/index.js
packages/*/index.d.ts
!packages/solid-layouts-oxc/index.js
!packages/solid-layouts-oxc/index.d.ts
!packages/rsbuild-plugin-solid-layouts/index.js
!packages/rsbuild-plugin-solid-layouts/index.d.ts
packages/solid-layouts/solid-2-staging/
